:root{

}
*, :after :before{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1.2rem;
}
h6{
    font-size: 1rem;
}
p,span{
    color: #2f4f4f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
hr{
    border: none;
    height: 0.01rem;
    width: 100%;
    background: cornflowerblue;
}
a{
    text-decoration: none;
    color: tomato;
}
li{
    list-style-type: none;
}
.main{
    padding: 30px;
}
.nav{
    font-size: 20px;
    width: 100%;
}
.nav ul{
    width: 100%;
}
.nav ul li{
    padding: 20px;
    display: inline-block;
}
.nav ul li a:hover{
    color: cornsilk;
}
@media screen and (max-width:600px) {
    .nav{
        text-align: center;
    }
    .nav ul li{
        display: block;
    }
}
.text_StyleButton{
    background: hotpink;
    border-radius: 8px;
    color: ivory;
    cursor: pointer;
}
.text_StyleButton:hover{
    background: #ff69b4a9;
}
.text_Style_{
    text-decoration: line-through;
    color: #2f4f4f8c;
}
.flex_List{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width:600px){
    .list{
        flex: 100%;
    }
    .list ul{
        /* display: none; */
    }
}
.list{
    /* flex: 33%; */
    padding: 20px;
    /* background: #ffcc00; */
}
.list ul li{
    padding: 5px;
}
.list ul li a{
    border-bottom: 1px solid #ffcc00;
}
.list_TextHd{
    border-left: 3px solid #ff69b4;
}
